@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	background-color: #f0e6f0;
	color: #e1b3df;
	font-family: 'Architects Daughter', cursive;
}
.wrapper {
	/* width:1200px; */
	/* margin: 0 auto; */
}
footer {
	clear: both;
}
footer p {
	background-color: #FF957E;
	font-size: 15px
}
h1 {
	font-size: 68px;
}
h2{
	padding: 20px;
}

p {
	font-size: 20px;
	
}
div{
	position: relative;
	margin: 4em;
}

h2{

	bottom: 20px;
	right: 400px;
	font-size: 40px;

}
nav{
	font-size: 20px;
	padding: 15px;
	background-color: #e1b3df;
	margin: 50px;
    color: 00000;
}

.column img{
	width: 65%;
}


.column {
	float: left;
	width: 33.3%;
	/* padding: 20px; */
	margin: 0;
	border: 2px white solid;
	padding: 10px;
	
}
#main-image{
	padding:10px;
}
#new-collection {
	width: 40em;
	margin: 2em auto;
}
#new-collection img {
	border: 2px white solid;
	padding: 5px;
	width: 33.33%;
	float: left;
}
.clearfix:after {
	height:0;
	visibility:hidden;
	content: "";
	clear:both;
	display:block;
}
