@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	background-color: #f0e6f0;
	color: #e1b3df;
	font-family: 'Architects Daughter', cursive;
}
.wrapper {
	/* width:1200px; */
	/* margin: 0 auto; */
}
footer {
	clear: both;
}
footer p {
	background-color: #FF957E;
	font-size: 25px
}
h1 {
	font-size: 68px;
	background-color: #FFED74;
	border: 1px black solid;
	
}

p {
	font-size: 20px;
	
}
div{
	position: relative;
	margin: 4em;
}

h2{

	bottom: 20px;
	right: 400px;
	font-size: 40px;

}

.column img{width: 100%;}

.column {
	float: left;
	width: 33.33%;
	/* padding: 20px; */
	margin: 0;
	border: 4px solid white;
}
#new-collection {
	width: 40em;
	margin: 2em auto;
}
#new-collection img {
	background-color: #E89C6C;
	border: 2px white solid;
	padding: 15px;
	width: 33.33%;
	float: left;
}
.clearfix:after {
	height:0;
	visibility:hidden;
	content: "";
	clear:both;
	display:block;
}
