body {
	text-align: center;
	background-color: #f0e6f0;
	color: #e1b3df;
	font-family: 'Architects Daughter', cursive;
}
h1 {
	font-size: 68px;
	font-family: 'Architects Daughter', cursive;
}

p {
	font-size: 35px;
	font-family: 'Architects Daughter', cursive;
}
div{
	position: relative;
}

h2{

	bottom: 20px;
	right: 400px;
	font-size: 40px;
	font-family: 'Architects Daughter', cursive;
}

img{
	padding: 25px;
}

